@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Witaj na naszej skromnej stronie, która została stworzona przez wyrafinowanych aczkolwiek początkujących programistów. 
    <br />Nasz ośrodek wypoczynkowy został stworzony dla takich właśnie osób jak Oni!<br />
    U nas wypoczniesz, złapiesz wenę, nasze ceny są bardzo wysokie, toteż będziesz mieć motywacje aby kolejnych 11 miesięcy ciężko pracować!<br />
    Zachęcamy do rezerwacji naszych wyjątkowych pokoi w tym wyjątkowym miejscu.</p>
<br />
