@{
    ViewBag.Title = "Masz pytanie? Zapraszamy do kontaktu telefonicznego lub e-mail";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ul. Wczasowa 1<br />
    Świnoujście, Poland<br />
    <abbr title="Telefon">Telefon:</abbr>
    666-222-333
</address>

<address>
    <strong>Recepcja:</strong>   <a href="mailto:Support@example.com">Recepcja@bryza.com.pl</a><br />
    <strong>Restauracja:</strong> <a href="mailto:Marketing@example.com">Restauracja@bryza.com.pl</a>
</address>